<!DOCTYPE html>
<html>

<head>
  <title>TodoMVC</title>
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/todomvc-app-css@2.2.0/index.css" />
  <style>
    [v-cloak] {
      display: none;
    }

    .error {
      font-size: 24px;
      font-weight: 400;
      color: white;
      text-align: center;
      border: 1px solid darkred;
      padding: 10px;
      background-color: #af5b5e;
      border-radius: 5px;
    }
  </style>
</head>

<body>
  <div>
    <section class="todoapp">
      <h1 class="title">to do's</h1>
      <div v-if="loading">
        <h1 class="loading">Loading...</h1>
      </div>
      <div v-else>
        <header class="header">
          <input class="new-todo" autofocus autocomplete="off" placeholder="What nees to be done?" v-model="newTodo"
            @keyup.enter="addTodo">
        </header>
        <section class="main" v-show="todos.length" v-cloak>
          <input class="toggle-all" type="checkbox" v-model="allDone">
          <ul class="todo-list">
            <li v-for="todo in filteredTodos" class="todo" :key="todo.id"
              :class="{ completed: todo.completed, editing: todo == editedTodo }">
              <div class="view">
                <input class="toggle" type="checkbox" v-model="todo.completed" @change="completeTodo(todo)">
                <label @dblclick="editTodo(todo)">{{ todo.title }}</label>
                <button class="destroy" @click="removeTodo(todo)"></button>
              </div>
              <input class="edit" type="text" v-model="todo.title" v-todo-focus="todo == editedTodo"
                @blur="doneEdit(todo)" @keyup.enter="doneEdit(todo)" @keyup.esc="cancelEdit(todo)">
            </li>
          </ul>
        </section>
        <footer class="footer" v-show="todos.length" v-cloak>
          <span class="todo-count">
            <strong>{{ remaining }}</strong> {{ remaining | pluralize }} left
          </span>
          <ul class="filters">
            <li><a href="#/all" @click="setVisibility('all')" :class="{ selected: visibility == 'all' }">All</a></li>
            <li><a href="#/active" @click="setVisibility('active')"
                :class="{ selected: visibility == 'active' }">Active</a></li>
            <li><a href="#/completed" @click="setVisibility('completed')"
                :class="{ selected: visibility == 'completed' }">Completed</a></li>
          </ul>
          <button class="clear-completed" @click="removeCompleted" v-show="todos.length > remaining">
            Clear completed
          </button>
        </footer>
      </div>
      <br />
      <div v-if="error" class="error" @click="handleErrorClick">
        ERROR: {{ error }}
      </div>
    </section>
  </div>

  <script>

    const api = {
      async getAll() {
        const query = `query { allTodos { id title completed } }`
        const { data } = await fetch('http://localhost:4000', {
          method: 'POST',
          body: JSON.stringify({ query }),
          headers: { 'Content-Type': 'application/json' }
        }).then(res => res.json())
        return data.allTodos
      },
      async createNew(title, completed) {
        const query = `mutation ($title: String, $completed: Boolean) { createTodo( title: $title, completed: $completed ) { id } }`
        const variables = { title, completed }
        const { data } = await fetch('http://localhost:4000', {
          method: 'POST',
          body: JSON.stringify({ query, variables: { title, completed } }),
          headers: { 'Content-Type': 'application/json' }
        }).then(res => res.json())

        console.log('data', data)

        return data.createTodo
      },
      async updateForId(id, title, completed) {
        console.log(id, title, completed)
        const query = `mutation ($id: ID!, $title: String, $completed: Boolean ) { editTodo (id: $id, title: $title, completed: $completed) { id } }`
        const { data } = await fetch('http://localhost:4000', {
          method: 'POST',
          body: JSON.stringify({ query, variables: { id, title, completed } }),
          headers: { 'Content-Type': 'application/json' }
        }).then(res => res.json())
        return data.editTodo
      },
      async removeForId(id) {
        const query = `mutation ($id:ID!) { deleteTodo ( id: $id ) { id } }`
        const { data } = await fetch('http://localhost:4000', {
          method: 'POST',
          body: JSON.stringify({ query, variables: { id } }),
          headers: { 'Content-Type': 'application/json' }
        }).then(res => res.json())
        return data.deleteTodo
      }
    }

    // visibility filters
    const filters = {
      all: function (todos) {
        return todos
      },
      active: function (todos) {
        return todos.filter(function (todo) {
          return !todo.completed
        });
      },
      completed: function (todos) {
        return todos.filter(function (todo) {
          return todo.completed
        });
      }
    };

    // app Vue instance
    const app = new Vue({
      name: 'Todos',
      // app initial state
      data: function () {
        return {
          todos: [],
          newTodo: '',
          editedTodo: null,
          visibility: 'all',
          loading: true,
          error: null
        }
      },
      async mounted() {
        this.todos = await api.getAll()
          .catch(error => {
            this.error = 'Failed to load todos'
            return []
          }).finally(() => this.loading = false)
      },
      // computed properties
      // http://vuejs.org/guide/computed.html
      computed: {
        filteredTodos: function () {
          return filters[this.visibility](this.todos);
        },
        remaining: function () {
          return filters.active(this.todos).length;
        },
        allDone: {
          get: function () {
            return this.remaining === 0
          },
          set: function (value) {
            this.todos.forEach(function (todo) {
              todo.completed = value
            });
          }
        }
      },
      filters: {
        pluralize: function (n) {
          return n === 1 ? "item" : "items"
        }
      },

      // methods that implement data logic.
      // note there's no DOM manipulation here at all.
      methods: {
        addTodo: async function () {
          var value = this.newTodo && this.newTodo.trim()
          if (!value) {
            return
          }
          const response = await api.createNew(value, false)
            .catch((error) => {
              this.error = 'Failed to add todo'
            })
          console.log(response)

          this.todos.push({
            id: response.id,
            title: value,
            completed: false
          })

          this.newTodo = ''
        },
        setVisibility: function (vis) {
          this.visibility = vis
        },
        completeTodo: async function (todo) {
          const data = await api.updateForId(todo.id, todo.title, todo.completed)
            .catch((error) => {
              todo.completed = !todo.completed
              this.error = 'Failed to update todo'
            })
        },
        removeTodo: async function (todo) {
          await api.removeForId(todo.id)
            .catch((error) => {
              this.error = 'Failed to remove todo'
            })
          this.todos.splice(this.todos.indexOf(todo), 1)
        },
        editTodo: async function (todo) {
          this.beforeEditCache = todo.title
          this.editedTodo = todo
        },
        doneEdit: async function (todo) {
          if (!this.editedTodo) {
            return
          }
          const response = await api.updateForId(todo.id, todo.title.trim(), todo.completed)
            .catch((error) => {
              this.cancelEdit(todo)
              this.error = 'Failed to update todo'
            })
          this.editedTodo = null
          todo.title = todo.title.trim();
          if (!todo.title) {
            this.removeTodo(todo)
          }
        },
        cancelEdit: function (todo) {
          this.editedTodo = null;
          todo.title = this.beforeEditCache;
        },
        removeCompleted: function () {
          this.todos = filters.active(this.todos)
        },
        handleErrorClick: function () {
          this.error = null
        },
      },

      // a custom directive to wait for the DOM to be updated
      // before focusing on the input field.
      // http://vuejs.org/guide/custom-directive.html
      directives: {
        "todo-focus": function (el, binding) {
          if (binding.value) {
            el.focus();
          }
        }
      },
      // beforeMount: async function() {
      // 	this.todos = await todoStorage.fetch()
      // }
    })

    // handle routing
    function onHashChange() {
      var visibility = window.location.hash.replace(/#\/?/, "");
      if (filters[visibility]) {
        app.visibility = visibility;
      } else {
        window.location.hash = "";
        app.visibility = "all";
      }
    }

    window.addEventListener("hashchange", onHashChange);
    onHashChange();

    // mount
    app.$mount(".todoapp");
  </script>
</body>

</html>